<!DOCTYPE HTML>
<html>
	<head>
		<title>Разработка десктнопных и веб-приложений</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" />
		<noscript><link rel="stylesheet" href="{{url_for('static', filename='css/noscript.css')}}" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Header -->
			<section id="header">
				<div class="inner">
					<span class="icon solid major fa-cloud"></span>
					<h1>Обратная связь</h1>
					<p> </p>
					<ul class="actions special">
						<li><a href="#one" class="button scrolly">Подробнее</a></li>
					</ul>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="main style2">
				<div class="container">
					<form method="POST">
					  Почта: <input type="text" name="email">
					  Тема: <input type="text" name="subject" value="{{theme}}">
					  Сообщение: <textarea rows="5" cols="30" name="message"></textarea><br>
					  <input type="submit" value="Отправить">
					</form>
				</div>
			</section>

		<!-- Footer -->
			<section id="footer">
				<ul class="icons">
					<li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
					<li><a href="#" class="icon solid alt fa-envelope"><span class="label">Email</span></a></li>
				</ul>
				<ul class="copyright">
					<li><a href="https://shikimori.one/xDezexus/list/anime?order=rate_score">&copy;Таныгин Д.В.</a></li><li>Сайт визитка для учебной практики</li>
				</ul>
			</section>

		<!-- Scripts -->
			<script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
			<script src="{{url_for('static', filename='js/jquery.scrolly.min.js')}}"></script>
			<script src="{{url_for('static', filename='js/browser.min.js')}}"></script>
			<script src="{{url_for('static', filename='js/breakpoints.min.js')}}"></script>
			<script src="{{url_for('static', filename='js/util.js')}}"></script>
			<script src="{{url_for('static', filename='js/main.js')}}"></script>

	</body>
</html>